<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="aiAppender"
              class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
    </appender>
    <springProfile name="pz">
	<root level="INFO">
	    <appender-ref ref="CONSOLE"/>
	</root>	
    </springProfile>
    <springProfile name="!pz">
	<root level="INFO">
	    <appender-ref ref="aiAppender" />
	</root>	
    </springProfile>    
</configuration>